@{
    ViewData["Title"] = "Index";
}


<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div id="data" class="d-flex flex-wrap justify-content-around " ></div>

@section Scripts {
    <script src="~/js/travel.js"></script>

    <script>
        const dataContainer = document.querySelector('#data');
        const emps = spots.CommonFormat.Section;

        const htmlContent = emps.map((data) => {
            const { CAT2, xbody, avBegin, address, file } = data;

            const imageUrl = file && file.img && file.img.length > 0 ? file.img[0].text : '';

            return (
                `<div class="card mb-3" style="width: 18rem;">
                    <img src="${imageUrl}" class="card-img-top" alt="${CAT2}" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="card-body">
                            <h5 class="card-title">${CAT2}</h5>
                    <p class="card-text">${xbody.length > 60 ? xbody.slice(0, 60) + '...' : xbody}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">${avBegin}</li>
                        <li class="list-group-item">${address}</li>
                    </ul>
                </div>`
            );
        }).join('');

        dataContainer.innerHTML = htmlContent;
    </script>
}
